<h2 class="text-center text-success">Learn More online teaching center </h2>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="myform">
        <form (submit)="addPost(postForm.value)" #postForm="ngForm">
          <div class="form-group">
            <label for="title">ID</label>
            <input
              type="text"
              name="sid"
              id="sid"
              class="form-control"
              [(ngModel)]="post.sid"
              placeholder="Student ID"
              #sid="ngModel"
              required
            />
          </div>
          <!-- <div
            *ngIf="sid.invalid && (sid.dirty || sid.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="sid.errors.required">Id is required.</div>
          </div> -->
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              name="name"
              class="form-control"
              [(ngModel)]="post.name"
              id="name"
              #name="ngModel"
              placeholder="Student name"
              required
            />
          </div>
          <!-- <div
            *ngIf="name.invalid && (name.dirty || name.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="name.errors.required">Name is required.</div>
          </div> -->
          <div class="form-group">
            <label for="desc">Description</label>
            <input
              type="text"
              name="desc"
              id="desc"
              class="form-control"
              [(ngModel)]="post.desc"
              placeholder="Student Descrioption"
              #desc="ngModel"
              required
            />
          </div>
          <!-- <div
            *ngIf="desc.invalid && (desc.dirty || desc.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="sid.errors.required">description is required.</div>
          </div> -->
          <div class="form-group">
            <label for="bdate">Date of Birth</label>
            <input
              type="date"
              name="bdate"
              id="bdate"
              class="form-control"
              #bdate="ngModel"
              [(ngModel)]="post.bdate"
              placeholder="Student Birth Date"
              required
            />
          </div>
          <!-- <div
            *ngIf="bdate.invalid && (bdate.dirty || bdate.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="bdate.errors.required">birth date is required.</div>
          </div> -->
          <div class="form-group">
            <label for="bdate">Subjects</label>
            <select
              multiple
              name="subjects"
              class="form-control"
              [(ngModel)]="post.subjects"
              placeholder="Student Subjects"
              id="subjects"
              #subjects="ngModel"
              required
            >
              <option value="maths">Maths</option>
              <option value="english">English</option>
              <option value="science">Science</option>
  
            </select>
          </div>
          <!-- <div
            *ngIf="subjects.invalid && (subjects.dirty || subjects.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="subjects.errors.required">description is required.</div>
          </div> -->
          <div>
            <button class="btn btn-success" type="submit">
              {{ btnName }}
            </button>
            <button
              class="btn btn-info"
              [ngStyle]="{ display: display }"
              type="button"
              (click)="CancelAll()"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="leftDrop">
        <div class="form-group">Student Name
          <select
            class="form-control"
            (change)="filterAvailability()"
            [(ngModel)]="selectFilter"
            name="selectFilter"
          >
            <option value="select">Select</option>
            <option value="{{ item.name }}" *ngFor="let item of filterList">
              {{ item.name }}
            </option>
          </select>
        </div>
        <div class="form-group">Subject
          <select
            class="form-control"
            (change)="filterSubjectAvailability()"
            [(ngModel)]="selectSubject"
            name="selectFilter"
          >
            <option value="select">Select</option>
            <option value="maths">Maths</option>
            <option value="english">English</option>
            <option value="science">Science</option>
     7
          </select>
        </div>
        <div class="searchDiv">
          <form (submit)="getSearchData()" #SearchForm="ngForm" class="frmSearch">
            <div class="form-group">
              <input
                type="text"
                class="form-control pt-1 mt-4"
                placeHolder="Search"
                [(ngModel)]="searchText"
                name="searchText"
                (keyup)="checkDataAvailability()"
              />
            </div>
            <button type="submit" class="btn btn-info">Search</button>
          </form>
        </div>
      </div>
      
      <div class="viewTable">
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Desc</th>
              <th>Bdate</th>
              <th>Subjects</th>
              <th>Action</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let post of viewList">
              <td>{{ post.sid }}</td>
              <td>{{ post.name }}</td>
              <td>{{ post.desc }}</td>
              <td>{{ post.bdate }}</td>
              <td>{{ post.subjects }}</td>
              <td>
                <button class="btn btn-warning" (click)="editPost(post)">
                  Edit
                </button>
              </td>
              <td>
                <button class="btn btn-danger" (click)="deletePost(post)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
